In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
list_ = pd.read_csv("files_renamed_akansh.txt", delimiter="\t", header=None)

In [3]:
Total = np.unique([i[:-5] for i in list_[0]])
names = []
for i in Total:
    names.append(i.split("_")[5])
unique = []
before_after = []
for i in Total:
    if np.sum((np.array(names, dtype = str) == i.split("_")[5])) == 1:
        unique.append(i)
    else:
        before_after.append(i) 

Asthmatic_Female = []
Asthmatic_Male = []
Healthy_Male = []
Healthy_Female = []
NAsthma = []
for file in unique:
    if file.split("_")[7] == 'Asthma' or file.split("_")[7] == 'asthma' :
        if file.split("_")[8] == "M" or file.split("_")[8] == "m":
            Asthmatic_Male.append(file)
        if file.find("_F_")!=-1:
            Asthmatic_Female.append(file)
    if file.split("_")[7] == 'NAsthma':
        NAsthma.append(file)
    if file.find("_C_")!=-1:
        if file.find("_M_")!=-1:
            Healthy_Male.append(file)
        if file.find("_F_")!=-1:
            Healthy_Female.append(file)

In [4]:
print(f"Total = {len(Total)}")
print(f"Asthmatic_male = {len(Asthmatic_Male)}")
print(f"Asthmatic_female = {len(Asthmatic_Female)}")
print(f"Healthy_Male = {len(Healthy_Male)}")
print(f"Healthy_female = {len(Healthy_Female)}")
print(f"Before_after = {len(before_after)}")
print(f"NAsthma = {len(NAsthma)}")

Total = 285
Asthmatic_male = 48
Asthmatic_female = 31
Healthy_Male = 55
Healthy_female = 51
Before_after = 90
NAsthma = 10

In [5]:
list_

                                                     0     1
0    2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...  1452
1    2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...  1452
2    2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...  1123
3    2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...  1123
4    2016_07_05_12_00_VasuK_C_Na_M_Na_26_169_62_Na_...  1448
..                                                 ...   ...
499  2019_02_08_14_00_Suresh_P_Asthma_M_after_26_17...  2337
500  2019_02_13_13_00_MuraliKN_P_NAsthma_M_After_31...  2372
501  2019_02_15_13_00_GurunathYS_P_Asthma_M_After_3...  2202
502  2019_02_19_12_00_RachelPreethi_P_Asthma_F_Afte...  2089
503  2019_02_27_13_58_HimanshuShekhar_P_NAsthma_M_A...  2042

[504 rows x 2 columns]

In [6]:
list_[2] = 0
list_[3] = 0
for i,j in enumerate(list_[0]):
    list_[2][i] = j.split("_")[5]

/home/akansh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/akansh/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [7]:
list_

,0,1,2,3
0,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,0
1,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,0
2,2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...,1123,HaksaR,0
3,2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...,1123,HaksaR,0
4,2016_07_05_12_00_VasuK_C_Na_M_Na_26_169_62_Na_...,1448,VasuK,0
...,...,...,...,...
499,2019_02_08_14_00_Suresh_P_Asthma_M_after_26_17...,2337,Suresh,0
500,2019_02_13_13_00_MuraliKN_P_NAsthma_M_After_31...,2372,MuraliKN,0
501,2019_02_15_13_00_GurunathYS_P_Asthma_M_After_3...,2202,GurunathYS,0
502,2019_02_19_12_00_RachelPreethi_P_Asthma_F_Afte...,2089,RachelPreethi,0
503,2019_02_27_13_58_HimanshuShekhar_P_NAsthma_M_A...,2042,HimanshuShekhar,0

In [8]:
A = np.unique(random.sample(range(4000, 5000), 285))
for name in np.unique(names):
#     name = i.split("_")[5]
    if list_[list_[2] == name][3].shape != 0:
        b = np.random.choice(A,size = (1,), replace = True)[0]
        list_.loc[list_[2] == name, 3] = b
        A = np.delete(A, np.where(A == b)[0][0])

In [9]:
for i,j in enumerate(list_[0]):
    list_.loc[i,4] = str(list_.loc[i,3]) + "_"+ "_".join(j.split("_")[6:10])+"_"+ "_".join(j.split("_")[13:])

In [15]:
list_.head(20)

,0,1,2,3,4
0,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,4534,4534_C_Na_M_Na_Na_Y.wav
1,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,4534,4534_C_Na_M_Na_Na_Y.txt
2,2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...,1123,HaksaR,4126,4126_C_Na_M_Na_Na_Y.wav
3,2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...,1123,HaksaR,4126,4126_C_Na_M_Na_Na_Y.txt
4,2016_07_05_12_00_VasuK_C_Na_M_Na_26_169_62_Na_...,1448,VasuK,4761,4761_C_Na_M_Na_Na_Y.wav
5,2016_07_05_12_00_VasuK_C_Na_M_Na_26_169_62_Na_...,1448,VasuK,4761,4761_C_Na_M_Na_Na_Y.txt
6,2016_07_07_10_30_Prahalad_C_Na_M_Na_31_168_60_...,1174,Prahalad,4922,4922_C_Na_M_Na_Na_Y.wav
7,2016_07_07_10_30_Prahalad_C_Na_M_Na_31_168_60_...,1174,Prahalad,4922,4922_C_Na_M_Na_Na_Y.txt
8,2016_07_07_12_30_AnuBaby_C_Na_F_Na_19_150_50_N...,1333,AnuBaby,4867,4867_C_Na_F_Na_Na_Y.wav
9,2016_07_07_12_30_AnuBaby_C_Na_F_Na_19_150_50_N...,1333,AnuBaby,4867,4867_C_Na_F_Na_Na_Y.txt
10,2016_07_07_12_40_AnuJose_C_Na_F_Na_20_166_54_N...,1396,AnuJose,4679,4679_C_Na_F_Na_Na_Y.wav
11,2016_07_07_12_40_AnuJose_C_Na_F_Na_20_166_54_N...,1396,AnuJose,4679,4679_C_Na_F_Na_Na_Y.txt
12,2016_07_07_12_45_VeronicaNiranjana_C_Na_F_Na_1...,1294,VeronicaNiranjana,4224,4224_C_Na_F_Na_Na_Y.wav
13,2016_07_07_12_45_VeronicaNiranjana_C_Na_F_Na_1...,1294,VeronicaNiranjana,4224,4224_C_Na_F_Na_Na_Y.txt
14,2016_07_13_02_05_AnishaJennifer_C_Na_F_Na_21_1...,1244,AnishaJennifer,4101,4101_C_Na_F_Na_Na_Y.wav
15,2016_07_13_02_05_AnishaJennifer_C_Na_F_Na_21_1...,1244,AnishaJennifer,4101,4101_C_Na_F_Na_Na_Y.txt
16,2016_07_21_02_45_ShaikGhospir_C_Na_M_Na_42_160...,1281,ShaikGhospir,4588,4588_C_Na_M_Na_Na_Y.wav
17,2016_07_21_02_45_ShaikGhospir_C_Na_M_Na_42_160...,1281,ShaikGhospir,4588,4588_C_Na_M_Na_Na_Y.txt
18,2016_07_21_03_10_Madhivanan_C_Na_M_Na_28_171_7...,1032,Madhivanan,4204,4204_C_Na_M_Na_Na_Y.wav
19,2016_07_21_03_10_Madhivanan_C_Na_M_Na_28_171_7...,1032,Madhivanan,4204,4204_C_Na_M_Na_Na_Y.txt

In [16]:
C = []
for i in np.unique(names):
    if list_[list_[2] == i][3].shape[0] > 2:
        C.append(i)

In [17]:
z = [i.split("_")[5] for i in before_after]

In [18]:
np.setdiff1d(np.unique(z),C)

array(['HarryLawrence', 'Shifana'], dtype='<U19')

In [19]:
print(np.unique(list_[2]).shape, np.unique(list_[2]).shape)

(240,) (240,)

In [20]:
C = []
for i in list_[0]:
    if i.endswith(".wav "):
        C.append(i)

In [532]:
list_[list_[0] == C[0]]

,0,1,2,3,4
0,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,4403,4403_C_Na_M_Na_20_157_73_Na_Y.wav

In [21]:
rename_df = pd.DataFrame()
C = []
for i in list_[0]:
    if i.endswith(".wav "):
        C.append(i)
        
for i in C:
    rename_df = rename_df.append(list_[list_[0] == i])

In [22]:
rename_df.reset_index(drop= True, inplace=True)

In [23]:
for i,j in enumerate(rename_df[0]):
    rename_df.loc[i,1] = str(rename_df.loc[i,1]) + "_"+ "_".join(j.split("_")[6:10])+"_"+ "_".join(j.split("_")[13:])

In [32]:
rename_df.to_csv('Renamed_Akansh.txt', header=None, sep = "\t")

In [25]:
import os

In [33]:
problem = []
for i,j in zip(rename_df[1][:], rename_df[4][:]):
    try:
        source = i[:-1]
        dest = j[:-1]
        os.rename(source, dest)
        source = i[:-4]+"txt"
        dest = j[:-4]+"txt"
        os.rename(source, dest)
    except:
        problem.append(i)

In [34]:
problem

['2105_P_Asthma_F_after_68_TBD_Y.wav ', '2242_P_Asthma_m_54_Y.wav ']

In [590]:
"2105_P_Asthma_F_after_68_TBD.wav" == "2105_P_Asthma_F_after_68_TBD_Y.wav"

False

In [609]:
rename_df[rename_df[1]== "2242_P_Asthma_m_54_Y.wav "]

,0,1,2,3,4
233,2018_05_24_11_48_BalaramReddy_P_Asthma_m_54_16...,2242_P_Asthma_m_54_Y.wav,BalaramReddy,4004,4004_P_Asthma_m_54_Y.wav

In [600]:
rename_df[4][175:]

175    4368_P_Asthma_F_after_68_TBD_Y.wav
176       4983_P_Asthma_F_after_TBD_Y.wav
177      4983_P_Asthma_F_before_TBD_Y.wav
178       4065_P_Asthma_M_after_Sev_Y.wav
179      4065_P_Asthma_M_before_Sev_Y.wav
                      ...
280       4440_P_Asthma_M_after_Sev_Y.wav
281       4739_P_NAsthma_M_After_Na_Y.wav
282       4437_P_Asthma_M_After_Sev_Y.wav
283      4123_P_Asthma_F_After_Mild_Y.wav
284       4729_P_NAsthma_M_After_Na_Y.wav
Name: 4, Length: 110, dtype: object

In [13]:
A = pd.read_csv("./Renamed_Akansh.txt", delimiter="\t", header=None, index_col=None)

In [14]:
B = A.copy()

In [16]:
B

,0,1,2,3,4,5
0,0,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452_C_Na_M_Na_Na_Y.wav,NaveenP,4534,4534_C_Na_M_Na_Na_Y.wav
1,1,2016_07_05_11_45_HaksaR_C_Na_M_Na_30_164_51_Na...,1123_C_Na_M_Na_Na_Y.wav,HaksaR,4126,4126_C_Na_M_Na_Na_Y.wav
2,2,2016_07_05_12_00_VasuK_C_Na_M_Na_26_169_62_Na_...,1448_C_Na_M_Na_Na_Y.wav,VasuK,4761,4761_C_Na_M_Na_Na_Y.wav
3,3,2016_07_07_10_30_Prahalad_C_Na_M_Na_31_168_60_...,1174_C_Na_M_Na_Na_Y.wav,Prahalad,4922,4922_C_Na_M_Na_Na_Y.wav
4,4,2016_07_07_12_30_AnuBaby_C_Na_F_Na_19_150_50_N...,1333_C_Na_F_Na_Na_Y.wav,AnuBaby,4867,4867_C_Na_F_Na_Na_Y.wav
...,...,...,...,...,...,...
280,280,2019_02_08_14_00_Suresh_P_Asthma_M_after_26_17...,2337_P_Asthma_M_after_Sev_Y.wav,Suresh,4986,4986_P_Asthma_M_after_Sev_Y.wav
281,281,2019_02_13_13_00_MuraliKN_P_NAsthma_M_After_31...,2372_P_NAsthma_M_After_Na_Y.wav,MuraliKN,4747,4747_P_NAsthma_M_After_Na_Y.wav
282,282,2019_02_15_13_00_GurunathYS_P_Asthma_M_After_3...,2202_P_Asthma_M_After_Sev_Y.wav,GurunathYS,4518,4518_P_Asthma_M_After_Sev_Y.wav
283,283,2019_02_19_12_00_RachelPreethi_P_Asthma_F_Afte...,2089_P_Asthma_F_After_Mild_Y.wav,RachelPreethi,4523,4523_P_Asthma_F_After_Mild_Y.wav
284,284,2019_02_27_13_58_HimanshuShekhar_P_NAsthma_M_A...,2042_P_NAsthma_M_After_Na_Y.wav,HimanshuShekhar,4807,4807_P_NAsthma_M_After_Na_Y.wav