In [515]:
import numpy as np
import pandas as pd
import random

In [516]:
list_ = pd.read_csv("files_renamed_akansh.txt", delimiter="\t", header=None)

In [517]:
Total = np.unique([i[:-5] for i in list_[0]])
names = []
for i in Total:
    names.append(i.split("_")[5])
unique = []
before_after = []
for i in Total:
    if np.sum((np.array(names, dtype = str) == i.split("_")[5])) == 1:
        unique.append(i)
    else:
        before_after.append(i) 

Asthmatic_Female = []
Asthmatic_Male = []
Healthy_Male = []
Healthy_Female = []
NAsthma = []
for file in unique:
    if file.split("_")[7] == 'Asthma' or file.split("_")[7] == 'asthma' :
        if file.split("_")[8] == "M" or file.split("_")[8] == "m":
            Asthmatic_Male.append(file)
        if file.find("_F_")!=-1:
            Asthmatic_Female.append(file)
    if file.split("_")[7] == 'NAsthma':
        NAsthma.append(file)
    if file.find("_C_")!=-1:
        if file.find("_M_")!=-1:
            Healthy_Male.append(file)
        if file.find("_F_")!=-1:
            Healthy_Female.append(file)

In [518]:
print(f"Total = {len(Total)}")
print(f"Asthmatic_male = {len(Asthmatic_Male)}")
print(f"Asthmatic_female = {len(Asthmatic_Female)}")
print(f"Healthy_Male = {len(Healthy_Male)}")
print(f"Healthy_female = {len(Healthy_Female)}")
print(f"Before_after = {len(before_after)}")
print(f"NAsthma = {len(NAsthma)}")

Total = 285
Asthmatic_male = 48
Asthmatic_female = 31
Healthy_Male = 55
Healthy_female = 51
Before_after = 90
NAsthma = 10

In [519]:
list_[2] = 0
list_[3] = 0
for i,j in enumerate(list_[0]):
    list_[2][i] = j.split("_")[5]

/home/akansh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/akansh/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [520]:
A = np.unique(random.sample(range(4000, 5000), 285))
for name in np.unique(names):
#     name = i.split("_")[5]
    if list_[list_[2] == name][3].shape != 0:
        b = np.random.choice(A,size = (1,), replace = True)[0]
        list_.loc[list_[2] == name, 3] = b
        A = np.delete(A, np.where(A == b)[0][0])

In [557]:
for i,j in enumerate(list_[0]):
    list_.loc[i,4] = str(list_.loc[i,3]) + "_"+ "_".join(j.split("_")[6:10])+"_"+ "_".join(j.split("_")[13:])

In [526]:
C = []
for i in np.unique(names):
    if list_[list_[2] == i][3].shape[0] > 2:
        C.append(i)

In [527]:
z = [i.split("_")[5] for i in before_after]

In [528]:
np.setdiff1d(np.unique(z),C)

array(['HarryLawrence', 'Shifana'], dtype='<U19')

In [529]:
print(np.unique(list_[2]).shape, np.unique(list_[2]).shape)

(240,) (240,)

In [531]:
C = []
for i in list_[0]:
    if i.endswith(".wav "):
        C.append(i)

In [532]:
list_[list_[0] == C[0]]

,0,1,2,3,4
0,2016_07_04_11_30_NaveenP_C_Na_M_Na_20_157_73_N...,1452,NaveenP,4403,4403_C_Na_M_Na_20_157_73_Na_Y.wav

In [559]:
rename_df = pd.DataFrame()
C = []
for i in list_[0]:
    if i.endswith(".wav "):
        C.append(i)
        
for i in C:
    rename_df = rename_df.append(list_[list_[0] == i])

In [561]:
rename_df.reset_index(drop= True, inplace=True)

In [563]:
for i,j in enumerate(rename_df[0]):
    rename_df.loc[i,1] = str(rename_df.loc[i,1]) + "_"+ "_".join(j.split("_")[6:10])+"_"+ "_".join(j.split("_")[13:])

In [570]:
rename_df.loc[0,1][:-1]

'1452_C_Na_M_Na_Na_Y.wav'

In [572]:
rename_df[1]

0               1452_C_Na_M_Na_Na_Y.wav
1               1123_C_Na_M_Na_Na_Y.wav
2               1448_C_Na_M_Na_Na_Y.wav
3               1174_C_Na_M_Na_Na_Y.wav
4               1333_C_Na_F_Na_Na_Y.wav
                     ...
280     2337_P_Asthma_M_after_Sev_Y.wav
281     2372_P_NAsthma_M_After_Na_Y.wav
282     2202_P_Asthma_M_After_Sev_Y.wav
283    2089_P_Asthma_F_After_Mild_Y.wav
284     2042_P_NAsthma_M_After_Na_Y.wav
Name: 1, Length: 285, dtype: object

In [587]:
import os

In [601]:
problem = []
for i,j in zip(rename_df[1][175:], rename_df[4][175:]):
    try:
        source = i[:-1]
        dest = j[:-1]
        os.rename(source, dest)
        source = i[:-4]+"txt"
        dest = j[:-4]+"txt"
        os.rename(source, dest)
    except:
        problem.append(i)

In [602]:
problem

['2105_P_Asthma_F_after_68_TBD_Y.wav ', '2242_P_Asthma_m_54_Y.wav ']

In [590]:
"2105_P_Asthma_F_after_68_TBD.wav" == "2105_P_Asthma_F_after_68_TBD_Y.wav"

False

In [609]:
rename_df[rename_df[1]== "2242_P_Asthma_m_54_Y.wav "]

,0,1,2,3,4
233,2018_05_24_11_48_BalaramReddy_P_Asthma_m_54_16...,2242_P_Asthma_m_54_Y.wav,BalaramReddy,4004,4004_P_Asthma_m_54_Y.wav

In [600]:
rename_df[4][175:]

175    4368_P_Asthma_F_after_68_TBD_Y.wav
176       4983_P_Asthma_F_after_TBD_Y.wav
177      4983_P_Asthma_F_before_TBD_Y.wav
178       4065_P_Asthma_M_after_Sev_Y.wav
179      4065_P_Asthma_M_before_Sev_Y.wav
                      ...
280       4440_P_Asthma_M_after_Sev_Y.wav
281       4739_P_NAsthma_M_After_Na_Y.wav
282       4437_P_Asthma_M_After_Sev_Y.wav
283      4123_P_Asthma_F_After_Mild_Y.wav
284       4729_P_NAsthma_M_After_Na_Y.wav
Name: 4, Length: 110, dtype: object